@font-face{
  font-family: 'Quicksand';
  src: url('../vendor/font/Quicksand/static/Quicksand-Regular.ttf')format('truetype');
}
body{
  position: relative;
  font-family: 'Quicksand';
}
#article{
  margin-top: 150px;
  margin-left: 50px;
  font-size: 14pt;
  text-align: justify;
}
.btn{
  margin-top: 10px;
  font-size: 13pt;
  font-weight: bold;
}
