{% extends "index.html" %}
{% load static %}

{% block Title %}
   {{content.title}}
{% endblock Title %}

{% block Contents %}
    <link rel="stylesheet" href="{% static "javascript/styling/content.css" %}">

    <div class="container-fluid" style="margin-top: 150px;">
      <div class="row">

        <div class="col-sm-12 col-lg-8" id="article">
          <div class="card" style="border: none;">
            <div class="card-body">
              <h2 class="card-title" style="font-weight: bold;">{{content.subtitle}}</h2>
              <hr class="bg-dark mb-5">
              <img class="img-fluid mb-5" src="{{content.cover.url}}" alt="cover" width="780px">
              <div class="card-text">
                <p class="mb-3">{{content.content|linebreaksbr}}</p>
                <h4 class="mb-2">{{content.title1}}</h4>
                <p>{{content.content1|linebreaksbr}}</p>
                  <pre data-codetype="HTML"><code>{{content.code1|linebreaksbr}}</code></pre>
                <p class="mt-5">{{content.text1|linebreaksbr}}</p>
                <img class="img-fluid mt-2" id="image" src="{{content.image1.url}}" style="margin-bottom: 30px;"/>
                <p>{{content.caption1|linebreaksbr}}</p>
                <h4 class="mt-5 mb-2">{{content.title2}}</h4>
                <p>{{content.content2|linebreaksbr}}</p>
                  <pre data-codetype="HTML"><code>{{content.code2|linebreaksbr}}</code></pre>
                <p class="mt-5">{{content.text2|linebreaksbr}}</p>
                <img class="img-fluid mt-2" id="image" src="{{content.image2.url}}" style="margin-bottom: 30px;"/>
                <p>{{content.caption2|linebreaksbr}}</p>
                <h4 class="mt-5 mb-2">{{content.title3}}</h4>
                <p>{{content.content3|linebreaksbr}}</p>
                  <pre data-codetype="HTML"><code>{{content.code3|linebreaksbr}}</code></pre>
                <p class="mt-5">{{content.text3|linebreaksbr}}</p>
                <img class="img-fluid mt-2" id="image" src="{{content.image3.url}}" style="margin-bottom: 30px;"/>
                <p>{{content.caption3|linebreaksbr}}</p>
                <h4 class="mt-5 mb-2">{{content.title4}}</h4>
                <p>{{content.content4|linebreaksbr}}</p>
                  <pre data-codetype="HTML"><code>{{content.code4|linebreaksbr}}</code></pre>
                <p class="mt-5">{{content.text4|linebreaksbr}}</p>
                <img class="img-fluid mt-2" id="image" src="{{content.image4.url}}"/>
                <p class="mt-4 mb-2">{{content.caption4|linebreaksbr}}</p>
                <p class="mt-5 mb-5">{{content.caption|linebreaksbr}}</p>
              </div>
            </div>
          </div>

        </div>


        <div class="col-sm-12 col-lg-4" style="margin-top: 50px;" id="sidebar">
          <div class="card shadow" >
            <div class="card-body">
                <h4 class="text-center">Artikel Terkait</h4>
                <ul class="list-group">
                  <a class="text-dark" id="title" href="{% url 'js:definisi' %}">
                    <li class="list-group-item">Mengenal Javascript</li>
                  </a>
                  {% for content in other_content %}
                   <a class="text-dark" id="title" href="{% url 'js:content' content.slug  %}">
                     <li class="list-group-item">{{content.title}}</li>
                    </a>
                  {% endfor %}
                </ul>
            </div>
          </div>

          <div class="card shadow mt-5 mb-5">
            <div class="card-body">
              <h4 class="text-center">Tutorial Lainnya</h4>
              <ul class="list-group">
                <a class="text-dark" id="title" href="{% url 'html:page'  %}">
                  <li class="list-group-item">
                    <img src="{% static 'img/logo/html.png' %}" alt="" width="30px"><span id="title">HTML</span>
                  </li>
                </a>
                <a class="text-dark" id="title" href="{% url 'css:page' %}">
                  <li class="list-group-item">
                    <img src="{% static 'img/logo/css.png' %}" alt="" width="30px"><span id="title">CSS</span>
                  </li>
                </a>
                <a class="text-dark" id="title" href="{% url 'dom:page' %}">
                  <li class="list-group-item">
                    <img src="{% static 'img/logo/dom.png' %}" alt="" width="30px"><span id="title">DOM</span>
                  </li>
                </a>
                <a class="text-dark" id="title" href="{% url 'bootstrap:page' %}">
                  <li class="list-group-item">
                    <img src="{% static 'img/logo/bootstrap.png' %}" alt="" width="30px"><span id="title">Bootstrap</span>
                  </li>
                </a>
                <a class="text-dark" id="title" href="{% url 'python:page' %}">
                  <li class="list-group-item">
                    <img src="{% static 'img/logo/python.png' %}" alt="" width="30px"><span id="title">Python</span>
                  </li>
                </a>
                <a class="text-dark" id="title" href="{% url 'oop:page' %}">
                  <li class="list-group-item">
                    <img src="{% static 'img/logo/oop.png' %}" alt="" width="30px"><span id="title">OOP</span>
                  </li>
                </a>
                <a class="text-dark" id="title" href="{% url 'django:page' %}">
                  <li class="list-group-item">
                    <img src="{% static 'img/logo/django.png' %}" alt="" width="30px"><span id="title">Django</span>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock Contents %}
