{% load static %}
  <div class="container-fluid">
    <nav class="navbar d-flex fixed-top navbar-expand-sm navbar-light" style="  background-color: #FFD700;">
      <a class="navbar-brand" id="logo" href="{% url 'home'  %}">tunaskode</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-2 ml-auto">
          <li class="nav-item active" >
            <a class="nav-link ml-4" href="{% url 'home'  %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link ml-4" href="{% url 'tutorial' %}">Tutorial</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link ml-4" href="{% url 'blog:page' %}">
              Blog
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
