@font-face{
  font-family: 'Quicksand';
  src: url('../vendor/font/Quicksand/static/Quicksand-Regular.ttf')format('truetype');
}
body{
  position: relative;
  font-family: 'Quicksand';
}
div #article{
  font-size: 15pt;
  text-align: justify;
  line-height: 35px;
}
#article .card{
  margin-left: 10px;
  margin-right: 10px;
}
#article h1{
  font-weight: bold;
}
#article hr{
  margin-top: -5px;
}
/* sidebar */
.card{
    margin-left: 50px;
    margin-right: 30px;
}
.text-center h4{
  font-weight: bold;
  padding-bottom: 10px;
}
#title{
  font-size: 13pt;
  text-decoration: none;
}
span{
  margin-left: 10px;
}
.list-group-item:hover{
  border-color: #292b2c;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}
