{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>tunaskode.com</title>
    <!--- FILE BOOTSTRAP ------>
        {% include "snippets/styles.html" %}
    <link rel="stylesheet" href="{% static "styling/home.css" %}">
  </head>


  <body>
    {% include "snippets/nav.html" %}

    <div class="jumbotron jumbotron-fluid" style="height: 600px;">
      <!--JUMBROTON HOME---->
        <div class="container">
          <h1 class="title display-4">Tutorial Bagi Pemula</h1>
          <h3 class="lead display-5 text-center">Memuat dasar bahasa pemogramman html, css, javascript, python.</h3>
          <p class="lead" style="margin-left: 21%;">
            <a class="btn btn-default btn-md" href="{% url 'tutorial' %}" role="button">Belajar</a>
          </p>
        </div>
    </div>

    <div class="container  mb-5" style="height: 700px;">
      <div class="card-deck">
        {% for content in latest_content %}
          <div class="card mx-auto">
            <a href="{% url 'blog:content' content.slug %}"><img class="card-img-top" src="{{content.cover.url}}" alt="Card image cap"></a>
            <div class="card-body">
              <a id="title" href="{% url 'blog:content' content.slug %}">
                <h5 class="card-title text-dark">{{content.title}}</h5>
                <p class="card-text text-dark">{{content.content|truncatewords:15}}</p>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <footer class="page-footer font-small">
      <div class="container text-center py-3">&copy; 2020
        <a href="{% url 'home'%}"> tunaskode.com</a>
      </div>
    </footer>
    <!-- FILE BOOTSTRAP -->
    {% include "snippets/scripts.html" %}


  </body>
</html>
