{% extends "index.html" %}
{% load static %}

{% block Title %}
    tutorial
{% endblock Title %}

{% block page_title %}
  <div class="jumbotron-fluid ml-5 mr-5">
    <div class="card shadow">
        <h4 class="text-center display-4" style="font-weight: bold;">Ingin belajar apa hari ini ?</h4>
    </div>
  </div>

{% endblock page_title %}

{% block Contents %}
  <link rel="stylesheet" href="{% static "styling/index.css" %}">
  <div class="container my-5">
    <div class="row row-cols-md-4 row-cols-sm-3 row-cols-2 d-flex justify-content-between" style="margin-bottom: 250px;">
      <div class="col">
        <div class="text-center mb-5 mt-5 p-4 rounded">
          <a style="text-decoration: none;"  href="{% url 'html:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/html.png' %}" alt="">
            <div class="card-footer text-dark shadow">HTML</div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-center mb-5 mt-5 p-4 rounded">
          <a style="text-decoration: none;" href="{% url 'css:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/css.png' %}" alt="">
            <div class="card-footer text-dark shadow">CSS</div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-center mb-5 mt-5 p-4 rounded">
          <a style="text-decoration: none;" href="{% url 'js:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/js.png' %}" alt="">
            <div class="card-footer text-dark shadow">Javascript</div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-center mb-5 mt-5 p-4 rounded">
          <a style="text-decoration: none;" href="{% url 'dom:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/dom.png' %}" alt="">
            <div class="card-footer text-dark shadow">DOM</div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-center mt-5 p-4 rounded">
          <a style="text-decoration: none;" href="{% url 'bootstrap:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/bootstrap.png' %}" alt="">
            <div class="card-footer text-dark shadow">Bootstrap</div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-center mt-5 p-4 rounded">
          <a style="text-decoration: none;" href="{% url 'python:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/python.png' %}" alt="">
            <div class="card-footer text-dark shadow">Python</div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-center mt-5 p-4 rounded">
          <a style="text-decoration: none;" href="{% url 'oop:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/oop.png' %}" alt="">
            <div class="card-footer text-dark shadow">OOP</div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-center mt-5 p-4 rounded">
          <a style="text-decoration: none;" href="{% url 'django:page' %}">
            <img class="img-responsive mb-5" src="{% static 'img/logo/django.png' %}" alt="">
            <div class="card-footer text-dark shadow">Django</div>
          </a>
        </div>
      </div>
  </div>

{% endblock Contents %}
