@font-face{
  font-family: 'Quicksand';
  src: url('../vendor/font/Quicksand/static/Quicksand-Medium.ttf')format('truetype');
}
body{
  position: relative;
  font-family: 'Quicksand';
}
.jumbotron{
  background-color: #ffff;
}
#logo{
  font-size: 15pt;
  font-weight: bold;
  background-color: #292b2c;
  color: yellow;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar nav{
  height: 70px;
}
nav ul{
  position: relative;
}
nav ul li{
  font-size: 14pt;
  font-weight: bold;
  text-shadow: 2px solid black;
}
nav .nav-link:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.jumbotron .title{
  font-weight: bold;
  padding: 200px 0px 20px 30px;
  text-align: center;
  font-family: 'Quicksand-bold';
}
.jumbotron .lead{
  text-shadow: 0 2px 2px rgba(0, 0, 0, .10);
}
.jumbotron a{
  border: 2px solid black;
  margin-top: 30px;
  position: relative;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .10);
}
.jumbotron .btn:hover, :visited{
  box-shadow: 0 2px 4px 0 gray;
  font-weight: bold;
}
/* Blog */
.card-deck {
  margin: 0 75px;
  justify-content: space-between;
}

.card-deck .card {
  margin: 0 0 1rem;
}

@media (min-width: 676px) and (max-width: 667.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
  }
}

@media (min-width: 892px)
{
  .card-deck .card {
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
  }
}
.card{
  border: none;
}
.card:hover{
  box-shadow: 0 4px 4px 0 gray;
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  transition: 0.6s;
}
#title{
  text-decoration: none;
  font-size: 11pt;
}
#title:hover{
  font-weight: bold;
  text-decoration: underline solid  #292b2c;
}
.card-title{
  font-weight: bold;
}
footer{
  position: fixed;
  background-color: #292b2c;
  color: #ffff;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 13pt;
}
footer a{
  color: #ffff;
  text-decoration: none;
}
footer a:hover{
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
}
